<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alexandre.gabriel.ifcana">

    <application
        android:allowBackup="true"
        android:icon="@drawable/image2993"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TelaOpcoes">

        </activity>

        <activity
            android:name=".Cadastro">

        </activity>
        <activity
            android:name=".TelaOpcoes2">

        </activity>
        <activity
            android:name=".Prova1">

        </activity>
        <activity
            android:name=".Prova2">

        </activity>
        <activity
            android:name=".Prova3">

        </activity>
        <activity
            android:name=".Prova4">

        </activity>
        <activity
            android:name=".Prova5">

        </activity>
    </application>

</manifest>